<link rel="import"
      href="../polymer/polymer-element.html">
<link rel="import"
      href="../paper-card/paper-card.html">
<link rel="import"
      href="../paper-input/paper-input.html">
<link rel="import"
      href="../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import"
      href="../abas-database-picker/abas-database-picker.html">
<link rel="import"
      href="../abas-field-list/abas-field-list.html">



<dom-module id="aba-selector-template">
    <template>
        <style>
            :host {
                display: block;
                padding: 5px;
            }

            paper-card {
                width: 100%;
                margin: 5px;
            }
        </style>

        <paper-card heading="[[localize('general')]]">
            <div class="card-content">
                <paper-input label="[[localize('title')]]"
                             type="text"
                             value="{{title}}"></paper-input>
                <paper-input label="[[localize('erpCompany')]]"
                             type="text"
                             value="{{company}}"></paper-input>
                <abas-database-picker company="[[company]]"
                                      selection="{{vartab}}"
                                      label="[[localize('tableOfVariable')]]"></abas-database-picker>
                <paper-input label="[[localize('messageBusIn')]]"
                             type="text"
                             value="{{messageBusIn}}"></paper-input>
                <slot name="general"></slot>
            </div>
        </paper-card>

        <paper-card heading="[[localize('fields')]]">
            <div class="card-content">

                <slot name="fields"></slot>

                <abas-field-list fields="{{fields}}"
                                 company="[[company]]"
                                 vartab="[[vartab.tableSpec]]">
                    <slot name="fieldProperties"></slot>
                </abas-field-list>

            </div>
        </paper-card>


    </template>

    <script>
        /**
         * `aba-selector-template`
         * Template element for abas selections
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class AbaSelectorTemplate extends Polymer.AbasLocalizeMixin(Polymer.Element) {

            static get is() { return 'aba-selector-template'; }

            static get properties() {
                return {
                    title: {
                        type: String,
                        notify: true,
                        observer: 'titleChanged'
                    },
                    company: {
                        type: String,
                        notify: true,
                        observer: 'companyChanged'
                    },
                    messageBusIn: {
                        type: String,
                        notify: true,
                        observer: 'messageBusInChanged'
                    },
                    vartab: {
                        type: Object,
                        notify: true,
                        observer: 'vartabChanged'
                    },
                    fields: {
                        type: Array,
                        value: [],
                        notify: true
                    },
                    targetComponent: {
                        type: Object
                    },
                    fallbackLanguage: {
                        value: "en"
                    }
                };
            }

            static get observers() {
                return [
                    'fieldsChanged(fields, fields.*, fields.splices)'
                ];
            }

            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));

                this.target = this.$.fields;

            }

            _dispatchFieldChanged(field, value) {
                this.targetComponent = this.targetComponent ? this.targetComponent : this;
                if (this.targetComponent) {
                    this.targetComponent.dispatchEvent(new CustomEvent('settings-updated', {
                        bubbles: true,
                        composed: true,
                        detail: {
                            field: field,
                            value: value
                        }
                    }));
                }
            }

            companyChanged() {
                this._dispatchFieldChanged('company', this.company);
            }

            titleChanged() {
                this._dispatchFieldChanged('title', this.title);
            }

            messageBusInChanged() {
                this._dispatchFieldChanged('messageBusIn', this.messageBusIn);
            }

            vartabChanged() {
                this._dispatchFieldChanged('vartab', this.vartab);
            }

            fieldsChanged() {
                this._dispatchFieldChanged('fields', this.fields);
            }
        }

        window.customElements.define(AbaSelectorTemplate.is, AbaSelectorTemplate);
    </script>
</dom-module>